<!-- loop -->
<ul>
  <li *ngFor="let name of names" style="background-color: brown;" >
    {{ name }}
  </li>
</ul>

<!-- conditional -->
<p *ngIf="names.length > 1" [style]="{background-color:bgColor}">
  Condicional IF
</p>

<!-- bind properties -->
<input type="text" value="{{ title }}">
<input type="text" [value]="title">
<input type="text" [disabled]="false">

<!-- style and class -->
<div [class]='{menu: false}'></div>
<div [style]="{width: '100px'}"></div>

<!-- click events -->
<button (click)="changeColor()"></button>